.questionTitle{
  width: 100%;
  min-height: 35px;
}

.questionDetail{
  width:100%;
  min-height: 150px;
}

.nodes{
  width:100%;
}

.submit{
  margin-top:10px;
  width:100%;
  border:none;
  background-color: rgb(26, 135, 181);
  color:#fff;
  height: 40px;
}
