@import "../base.scss";

.header{
  position: fixed;
  top:0;
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  width: 100%;

  > div{
    max-width: 770px;
    margin:0 auto;
  }

  @include respond-to(sm) {
    top: auto;
    bottom:0;
  }

  ul{
    list-style-type: none;
    padding:0px;
    margin:0px;

    li{
      float:left;
      width:25%;

      a{
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;

        &:hover{
          color: rgb(7, 128, 227);
          background-color: #efefef;
        }
      }
    }
  }
}

.active{
  color: rgb(7, 128, 227);
}
