.header{
  width: 100%;
  background-color: #fff;
  text-align: center;
  img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
}

.actions{
  height: 40px;
  padding-top:10px;
}

.follow{
  float:right;
  margin-right:10px;
}
