// @import "../../pages/base.scss";

.media-tools{
  background-color: #fff;
  border-bottom:1px solid #efefef;
  > span{
    display: inline-block;
    padding:5px;
    margin:10px 0 10px 10px;
  }
}


.draft{
  :global{
    .DraftEditor-root{
      padding:10px;
    }
    .public-DraftEditor-content{
      min-height:300px;
    }
  }
}

/*
.draft{

  display: block;
  margin:10px 0 10px 0;

  :global {

    .public-DraftEditor-content{
      margin:0px !important;
      padding:0px !important;
      > div{
        // min-height: 200px;
      }
    }

    .public-DraftEditorPlaceholder-root{
      margin:0px !important;
      padding:0px !important;
    }

  }

  > div {
    width:100%;
    background-color: #fff;
    padding:10px;
    @include boxSizing();
  }

  figure{
    margin:0;
  }

  img, embed, iframe{
    width:100%;
    border:none;
  }

  embed{
    height: 460px;

    @include respond-to(sm) {
      height: 250px;
    }

  }
}



// 展现的时候
.show{

  :global{

    .public-DraftEditor-content{
      min-height: 100%;
      > div{
        // min-height: auto;
      }
    }

    .DraftEditor-root{
      padding:0px;
    }
    .public-DraftStyleDefault-block{
      height: 10px;
    }

    .RichEditor-editor{
      border:none !important;
    }

  }
}
*/
